CREATE A LIST OF 30 DATES

In [151]:
import pandas as pd
import numpy as np

In [152]:
dates = pd.Series(pd.date_range('2019-01-01', '2019-01-30'))
dates

0    2019-01-01
1    2019-01-02
2    2019-01-03
3    2019-01-04
4    2019-01-05
5    2019-01-06
6    2019-01-07
7    2019-01-08
8    2019-01-09
9    2019-01-10
10   2019-01-11
11   2019-01-12
12   2019-01-13
13   2019-01-14
14   2019-01-15
15   2019-01-16
16   2019-01-17
17   2019-01-18
18   2019-01-19
19   2019-01-20
20   2019-01-21
21   2019-01-22
22   2019-01-23
23   2019-01-24
24   2019-01-25
25   2019-01-26
26   2019-01-27
27   2019-01-28
28   2019-01-29
29   2019-01-30
dtype: datetime64[ns]

GENERATE A LIST OF 30 RANDOM NUMBERS BETWEEN 40 - 60 (assuming 8 - 12 HRS PER DAY FOR 5 HRS)

In [153]:
daily_miles = pd.Series(np.random.randint(40, 60, size = 30), index = dates)
daily_miles

2019-01-01    54
2019-01-02    57
2019-01-03    52
2019-01-04    45
2019-01-05    40
2019-01-06    41
2019-01-07    48
2019-01-08    41
2019-01-09    44
2019-01-10    48
2019-01-11    49
2019-01-12    53
2019-01-13    56
2019-01-14    46
2019-01-15    52
2019-01-16    48
2019-01-17    59
2019-01-18    43
2019-01-19    48
2019-01-20    44
2019-01-21    49
2019-01-22    46
2019-01-23    53
2019-01-24    58
2019-01-25    50
2019-01-26    57
2019-01-27    44
2019-01-28    57
2019-01-29    44
2019-01-30    42
dtype: int64

CREATE A SERIES OBJECT WITH CUMMULATIVE MILES (MILES_TO_DATE)

In [154]:
miles_to_date = pd.Series(np.cumsum(daily_miles), index=dates)
miles_to_date

2019-01-01      54
2019-01-02     111
2019-01-03     163
2019-01-04     208
2019-01-05     248
2019-01-06     289
2019-01-07     337
2019-01-08     378
2019-01-09     422
2019-01-10     470
2019-01-11     519
2019-01-12     572
2019-01-13     628
2019-01-14     674
2019-01-15     726
2019-01-16     774
2019-01-17     833
2019-01-18     876
2019-01-19     924
2019-01-20     968
2019-01-21    1017
2019-01-22    1063
2019-01-23    1116
2019-01-24    1174
2019-01-25    1224
2019-01-26    1281
2019-01-27    1325
2019-01-28    1382
2019-01-29    1426
2019-01-30    1468
dtype: int64

DISPLAY DATE, DAILY MILES, AND CUMMULATIVE MILES IN A CHART

In [155]:
travel_log = pd.DataFrame({'Daily Miles': daily_miles, 'Miles to Date': miles_to_date})
travel_log

            Daily Miles  Miles to Date
2019-01-01           54             54
2019-01-02           57            111
2019-01-03           52            163
2019-01-04           45            208
2019-01-05           40            248
2019-01-06           41            289
2019-01-07           48            337
2019-01-08           41            378
2019-01-09           44            422
2019-01-10           48            470
2019-01-11           49            519
2019-01-12           53            572
2019-01-13           56            628
2019-01-14           46            674
2019-01-15           52            726
2019-01-16           48            774
2019-01-17           59            833
2019-01-18           43            876
2019-01-19           48            924
2019-01-20           44            968
2019-01-21           49           1017
2019-01-22           46           1063
2019-01-23           53           1116
2019-01-24           58           1174
2019-01-25           50           1224
2019-01-26           57           1281
2019-01-27           44           1325
2019-01-28           57           1382
2019-01-29           44           1426
2019-01-30           42           1468

ITERATE THROUGH daily_miles SERIES TO PRINT TOTAL MILES EACH DAY.

In [156]:
for row in (daily_miles.index):
    print('On {}, you rode a total of {} miles.'.format(row.date(), daily_miles[row]))

On 2019-01-01, you rode a total of 54 miles.
On 2019-01-02, you rode a total of 57 miles.
On 2019-01-03, you rode a total of 52 miles.
On 2019-01-04, you rode a total of 45 miles.
On 2019-01-05, you rode a total of 40 miles.
On 2019-01-06, you rode a total of 41 miles.
On 2019-01-07, you rode a total of 48 miles.
On 2019-01-08, you rode a total of 41 miles.
On 2019-01-09, you rode a total of 44 miles.
On 2019-01-10, you rode a total of 48 miles.
On 2019-01-11, you rode a total of 49 miles.
On 2019-01-12, you rode a total of 53 miles.
On 2019-01-13, you rode a total of 56 miles.
On 2019-01-14, you rode a total of 46 miles.
On 2019-01-15, you rode a total of 52 miles.
On 2019-01-16, you rode a total of 48 miles.
On 2019-01-17, you rode a total of 59 miles.
On 2019-01-18, you rode a total of 43 miles.
On 2019-01-19, you rode a total of 48 miles.
On 2019-01-20, you rode a total of 44 miles.
On 2019-01-21, you rode a total of 49 miles.
On 2019-01-22, you rode a total of 46 miles.
On 2019-01-23, you rode a total of 53 miles.
On 2019-01-24, you rode a total of 58 miles.
On 2019-01-25, you rode a total of 50 miles.
On 2019-01-26, you rode a total of 57 miles.
On 2019-01-27, you rode a total of 44 miles.
On 2019-01-28, you rode a total of 57 miles.
On 2019-01-29, you rode a total of 44 miles.
On 2019-01-30, you rode a total of 42 miles.

DISPLAY MILES TO DAY ON A CERTAIN DATE.

In [157]:
for row in (miles_to_date.index):
    print('On {}, your miles to date was {}.'.format(row.date(), miles_to_date[row]))

On 2019-01-01, your miles to date was 54.
On 2019-01-02, your miles to date was 111.
On 2019-01-03, your miles to date was 163.
On 2019-01-04, your miles to date was 208.
On 2019-01-05, your miles to date was 248.
On 2019-01-06, your miles to date was 289.
On 2019-01-07, your miles to date was 337.
On 2019-01-08, your miles to date was 378.
On 2019-01-09, your miles to date was 422.
On 2019-01-10, your miles to date was 470.
On 2019-01-11, your miles to date was 519.
On 2019-01-12, your miles to date was 572.
On 2019-01-13, your miles to date was 628.
On 2019-01-14, your miles to date was 674.
On 2019-01-15, your miles to date was 726.
On 2019-01-16, your miles to date was 774.
On 2019-01-17, your miles to date was 833.
On 2019-01-18, your miles to date was 876.
On 2019-01-19, your miles to date was 924.
On 2019-01-20, your miles to date was 968.
On 2019-01-21, your miles to date was 1017.
On 2019-01-22, your miles to date was 1063.
On 2019-01-23, your miles to date was 1116.
On 2019-01-24, your miles to date was 1174.
On 2019-01-25, your miles to date was 1224.
On 2019-01-26, your miles to date was 1281.
On 2019-01-27, your miles to date was 1325.
On 2019-01-28, your miles to date was 1382.
On 2019-01-29, your miles to date was 1426.
On 2019-01-30, your miles to date was 1468.