# PROJECT 2

In [1]:
import pandas as pd
import numpy as np
import datetime as datetime

### master.csv file gives us records about suicide rates from various countries with years ranging from 1987 to 2016
##### Import the file and assign it to a variable.  Display the first 5 records to understand file.

In [2]:
suicide = pd.read_csv('master.csv', usecols=[0, 1, 2, 3, 4, 5])
suicide.head()

   country  year     sex          age  suicides_no  population
0  Albania  1987    male  15-24 years           21      312900
1  Albania  1987    male  35-54 years           16      308000
2  Albania  1987  female  15-24 years           14      289700
3  Albania  1987    male    75+ years            1       21800
4  Albania  1987    male  25-34 years            9      274300

##### Verify to see if there are any NaN values by using .sum() on .isnull()

In [3]:
suicide.isnull().sum()

country        0
year           0
sex            0
age            0
suicides_no    0
population     0
dtype: int64

##### Group all suicides by country and sort by descending order to find top 10 countries with highest suicide rate

In [4]:
suicide_by_country = suicide.groupby(['country']).suicides_no.sum()
suicide_by_country.sort_values(ascending=False)[:10]

country
Russian Federation    1209742
United States         1034013
Japan                  806902
France                 329127
Ukraine                319950
Germany                291262
Republic of Korea      261730
Brazil                 226613
Poland                 139098
United Kingdom         136805
Name: suicides_no, dtype: int64

##### I'm interested in the suicide rates in US.  Let's find out which year had the highest suicide rate in the US.  The output indicates that the year 2015 had the highest number of suicide.

In [5]:
suicide_US = suicide['country']=='United States'
suicide_US = suicide[suicide_US]
suicide_US.groupby(['year']).suicides_no.sum().sort_values(ascending=False)

year
2015    44189
2014    42769
2013    41143
2012    40596
2011    39508
2010    38362
2009    36900
2008    36030
2007    34596
2006    33292
2005    32629
2004    32428
2002    31645
2003    31477
1995    31272
1994    31123
1993    31084
1990    30895
1986    30892
1996    30879
1991    30790
1987    30783
2001    30607
1998    30558
1997    30517
1992    30471
1988    30388
1989    30218
1985    29446
2000    29343
1999    29183
Name: suicides_no, dtype: int64

##### Of all suicides in US, which group had the most?  The output indicates that those between the ages of 35 and 54 had the most count of suicides.

In [6]:
suicide_group = suicide_US.groupby('age').suicides_no.sum()
suicide_group.sort_values(ascending=False)

age
35-54 years    380917
55-74 years    224770
25-34 years    182047
15-24 years    141679
75+ years       95677
5-14 years       8923
Name: suicides_no, dtype: int64

##### Which gender had the highest number of suicide throughout the US between 1985 and 2015.  The output results reveal that male are 3.8 times more likely to commit suicide than female.

In [7]:
Male_suicide = suicide_US.groupby(['sex']).suicides_no.sum()[['male']]
Female_suicide = suicide_US.groupby(['sex']).suicides_no.sum()[['female']]
print(Male_suicide, Female_suicide)

sex
male    820216
Name: suicides_no, dtype: int64 sex
female    213797
Name: suicides_no, dtype: int64

## Using the listing.csv file, we can analyze the data to find information regarding the listings.
##### Import the file, select desired columns and assign it to a variable.  Display the first 5 records for review

In [8]:
nyc_listing = pd.read_csv('listings.csv', usecols=[2, 3, 4, 9, 10])
nyc_listing.head()

   host_id  host_name neighbourhood_group  price  minimum_nights
0     2688        Ben           Manhattan    137               7
1     2787       John            Brooklyn    149               1
2     2845   Jennifer           Manhattan    225               1
3     4177       Jbee            Brooklyn     70               5
4     4632  Elisabeth           Manhattan    150               3

##### Which neighbourhood has the most property listing?  Manhattan has the most number of listings of availability and Brooklyn comes in second.

In [9]:
nyc_listing.groupby(['neighbourhood_group']).host_id.count()

neighbourhood_group
Bronx              977
Brooklyn         20500
Manhattan        22839
Queens            5565
Staten Island      347
Name: host_id, dtype: int64

##### Add another column to calculate total price for particular rental listed.

In [10]:
nyc_listing['total_price'] = nyc_listing.price * nyc_listing.minimum_nights
nyc_listing.head()

   host_id  host_name neighbourhood_group  price  minimum_nights  total_price
0     2688        Ben           Manhattan    137               7          959
1     2787       John            Brooklyn    149               1          149
2     2845   Jennifer           Manhattan    225               1          225
3     4177       Jbee            Brooklyn     70               5          350
4     4632  Elisabeth           Manhattan    150               3          450

##### Which listing is the most expensive?  The output results from below indicate Kathrine from Queens listed her property as the most expensive with 10000 per night with a minimum purchase of 100 nights.

In [11]:
nyc_listing.sort_values(['total_price'], ascending=False)[:10]

,host_id,host_name,neighbourhood_group,price,minimum_nights,total_price
10026,20582832,Kathrine,Queens,10000,100,1000000
13570,3906464,Amy,Manhattan,9999,99,989901
19761,41870118,Iveta,Queens,2350,365,857750
3143,6676776,Peter,Manhattan,400,1000,400000
15176,53471415,Mark,Brooklyn,1002,365,365730
45551,113675409,Adam,Manhattan,1880,180,338400
33419,72390391,Jelena,Manhattan,10000,30,300000
48820,4382127,Matt,Manhattan,9999,30,299970
47023,229458601,Kay,Manhattan,3200,90,288000
34743,18128455,Rum,Manhattan,8500,30,255000

##### The results of the output below indicate the number of listings that are free of charge, which currently is 18.

In [12]:
free_rooms = nyc_listing['total_price'] == 0
nyc_listing[free_rooms].count()

host_id                18
host_name              18
neighbourhood_group    18
price                  18
minimum_nights         18
total_price            18
dtype: int64

##### We can also display the listings where they are located.  Brooklyn has a total of 10 rooms that are free of charge.

In [13]:
nyc_listing[free_rooms].groupby('neighbourhood_group').total_price.count()

neighbourhood_group
Bronx         1
Brooklyn     10
Manhattan     5
Queens        2
Name: total_price, dtype: int64

## Analyzing data from googlePlayStore.csv file
##### import the file, assign it to a variable, and review the first few rows

In [14]:
android = pd.read_csv('googlePlayStore.csv')
android.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up

##### Grouping by category to see which group has the most apps.  According to the following output, only categories of family and game had over 1000 apps.

In [15]:
android.groupby(['Category']).App.count().sort_values(ascending=False)[:5]

Category
FAMILY      1972
GAME        1144
TOOLS        843
MEDICAL      463
BUSINESS     460
Name: App, dtype: int64

##### Because I'm a gamer myself, I would like to see which apps in the Game category has the highest ratings.

In [16]:
gaming = android['Category'] == 'GAME'
gaming = android[gaming]
gaming.sort_values('Rating', ascending=False)[:5]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7698,CP Trivia,GAME,5.0,5,12M,100+,Free,0,Everyone,Trivia,6-Aug-18,0.99,5.0 and up
5917,Ra Ga Ba,GAME,5.0,2,20M,1+,Paid,$1.49,Everyone,Arcade,8-Feb-17,1.0.4,2.3 and up
9056,Santa's Monster Shootout DX,GAME,5.0,4,33M,50+,Paid,$1.99,Teen,Action,15-Aug-13,1.05,2.2 and up
5795,Axe Champs! Wars,GAME,5.0,8,25M,50+,Free,0,Everyone,Arcade,26-Jun-18,1.1,4.1 and up
6700,Brick Breaker BR,GAME,5.0,7,19M,5+,Free,0,Everyone,Arcade,23-Jul-18,1,4.1 and up

##### Categorize which free app has only 5.0 for a review.  There are 8 free apps that received 5.0 for review.

In [17]:
free_gaming = gaming[gaming['Type'] == 'Free'].sort_values('Rating', ascending=False)
top_free_game = free_gaming[free_gaming.Rating == 5.0]
top_free_game.App.count()

8

In [18]:
free_gaming = gaming[gaming['Type'] == 'Free'].sort_values('Rating', ascending=False)
top_free_game = free_gaming[free_gaming.Rating == 5.0]
top_free_game

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10776,Monster Ride Pro,GAME,5.0,1,24M,10+,Free,0,Everyone,Racing,5-Mar-18,2,2.3 and up
10721,Mad Dash Fo' Cash,GAME,5.0,14,16M,100+,Free,0,Everyone,Arcade,19-Jun-17,2.5a,4.1 and up
7698,CP Trivia,GAME,5.0,5,12M,100+,Free,0,Everyone,Trivia,6-Aug-18,0.99,5.0 and up
7402,Trovami se ci riesci,GAME,5.0,11,6.1M,10+,Free,0,Everyone,Arcade,11-Mar-17,0.1,2.3 and up
9265,EC Mover,GAME,5.0,5,4.6M,10+,Free,0,Everyone,Racing,1-Aug-18,1.11,4.0.3 and up
5795,Axe Champs! Wars,GAME,5.0,8,25M,50+,Free,0,Everyone,Arcade,26-Jun-18,1.1,4.1 and up
6700,Brick Breaker BR,GAME,5.0,7,19M,5+,Free,0,Everyone,Arcade,23-Jul-18,1,4.1 and up
5822,Flippy Axe : Flip The Knife & Axe Simulator,GAME,5.0,7,15M,100+,Free,0,Everyone,Arcade,27-Sep-17,1.1,4.2 and up

##### Now we find out which paid app has only 5.0 for review.

In [19]:
paid_gaming = gaming[gaming['Type'] == 'Paid'].sort_values('Rating', ascending=False)
top_paid_game = paid_gaming[paid_gaming.Rating == 5.0]
top_paid_game

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9056,Santa's Monster Shootout DX,GAME,5.0,4,33M,50+,Paid,$1.99,Teen,Action,15-Aug-13,1.05,2.2 and up
10697,Mu.F.O.,GAME,5.0,2,16M,1+,Paid,$0.99,Everyone,Arcade,3-Mar-17,1,2.3 and up
7466,211:CK,GAME,5.0,8,38M,10+,Paid,$0.99,Teen,Arcade,11-Apr-18,1.3,4.1 and up
5917,Ra Ga Ba,GAME,5.0,2,20M,1+,Paid,$1.49,Everyone,Arcade,8-Feb-17,1.0.4,2.3 and up