IMPORT ALL NECESSARY MODULES

In [8]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

CREATE TWO SERIES: MYCLASS AND MYGRADES

In [16]:
myclass = Series(['History', 'Math', 'Chemistry', 'Physics', 'English'])
mygrades = Series([3.3, 4.0, 3, 3.7, 2.3])

COMBINE BOTH SERIES TO CREATE A DATA FRAME

In [19]:
Fall_09 = DataFrame({'Course Name': myclass, 'Final Grade': mygrades})
Fall_09

  Course Name  Final Grade
0     History          3.3
1        Math          4.0
2   Chemistry          3.0
3     Physics          3.7
4     English          2.3

PERFORM BASIC CALCULATIONS SUCH AS AVERAGE, MINIMUM, AND MAXIMUM

In [15]:
Fall_09.mean(), Fall_09.min(), Fall_09.max()

(Final Grade    3.26
 dtype: float64, Course Name    Chemistry
 Final Grade          2.3
 dtype: object, Course Name    Physics
 Final Grade          4
 dtype: object)

SIMPLE LOGIC TO FIND NUMBER OF CLASSES WITH OUTSTANDING GRADES

In [38]:
outstanding = np.sum(Fall_09["Final Grade"] >= 3.3)
outstanding

3

DISPLAY THE COURSE WITH OUTSTANDING GRADES IN THE MATRIX

In [39]:
A_class = Fall_09 >= 3.3
Fall_09[A_class]

  Course Name  Final Grade
0     History          3.3
1        Math          4.0
2   Chemistry          NaN
3     Physics          3.7
4     English          NaN